<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
		<header>
			<nav class = "navbar">
				<p class = "logo">Logo</p>
				<ul class = "navbar-options">
					<a href = "#" class = "navbar-option">Inicio</a>
					<a href = "#" class = "navbar-option">Base de datos</a>
					<a href = "#" class = "navbar-option">Servicios</a>
				</ul>
				<button type = "submit" class = "boton-entrar-registrar">Entrar</button>
			</nav>
			<section class = "formulario-box">
				<h2 class = "login-text">Login</h2>
				<section class = "log-in-box"></section>
					<input type = "mail" class = "input-box" required></input>
					<label>Email</label>
				<section class = "log-in-box"></section>
					<input type = "password" class = "input-box" required></input>
					<label>contraseña</label>
			</section>
		</header>

		<section>
		</section>
	</body>
</html>
