{% extends 'base.html' %}

{%block title%}Servicios{%endblock%}

{%block content%}
     <section class = "container" name = "Servicios">
        <h2 class="titulo">Nuestros servicios</h2>
        <ul class="lista-servicios">
            <section class="container-servicio">
                <a href="#" class="servicio">
                    <p>Servicio 1</p>
                </a>
            </section>
            <section class="container-servicio">
                <a href="#" class="servicio">
                    <p>Servicio 2</p>
                </a>
            </section>
            <section class="container-servicio">
                <a href="#" class="servicio">
                    <p>Servicio 3</p>
                </a>
            </section>
            <section class="container-servicio">
                <a href="#" class="servicio">
                    <p>Servicio 4</p>
                </a>
            </section>
        </ul>
        
    </section>

{%endblock%}
